.create-listing-card .btn {
    width: 80%; 
    font-size: 1.2rem; 
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: transform 0.2s, box-shadow 0.2s;
}
