@model IEnumerable<ReservationListing>

<div class="container">
    <table class='table table-striped' style='max-width: 1200px;'>
        <tr>
            <th>ListingId</th>
            <th>Title</th>
            <th>Address</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        
        @foreach (var reservationListing  in Model)
        {
            <tr>
               <td>@reservationListing.Reservation.ListingId</td>
               <td>@reservationListing.ReservationId</td>
            </tr>
        }
    </table>
</div>