@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<h1>List of Users</h1>

<div class="container">
    <table class="table-user table-striped">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Phone Number</th>
            <th>Email Confirmed</th>
            <th>Two Factor Enabled</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.PhoneNumber</td>
                <td>@(user.EmailConfirmed ? "Yes" : "No")</td>
                <td>@(user.TwoFactorEnabled ? "Yes" : "No")</td>
            </tr>
        }
        </tbody>
    </table>
</div>