@model HomeToGo.ViewModels.ListingListViewModel

<h1>List of Listings Items (@Model.CurrentViewName View)</h1>
    <a href="/Listing/Table">Table View</a>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var listing in Model.Listings)
{
    <partial name="_ListingCard" model="listing"/>
}
</div>