@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/Home/styles.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to HomeToGo</h1>
    <h2 class="display-6">Featured Rentals</h2>
</div>

<partial name="slides" />

<div class="card-container">
    <div class="card1">
        <div class="card-content">
            <h3>About Us</h3>
            <p>HomeToGo is your gateway to discovering cozy homes, exciting experiences, and new adventures. We connect travelers with hosts, opening the door to unique homes around the globe...</p>
        </div>
    </div>
    <div class="card1">
        <div class="card-content">
            <h3>How It Works</h3>
            <p>Begin your journey with HomeToGo. Browse through a myriad of listings, connect with hosts, and secure your booking with ease. Our platform is designed to make finding and booking your perfect stay simple and enjoyable.</p>
        </div>
    </div>
    <div class="card1">
        <div class="card-content">
            <h3>Why Choose HomeToGo</h3>
            <p>With HomeToGo, you're not just booking a place to stay, but a home away from home. Our extensive range of listings caters to all tastes and budgets, ensuring a personalized experience...</p>
        </div>
    </div>
    <div class="card1">
        <div class="card-content">
            <h3>Testimonials</h3>
            <p>"Booking with HomeToGo was a breeze. The host was friendly, the home was cozy, and the whole process was hassle-free!" - Sarah M.</p>
        </div>
    </div>
</div>

