@{
    ViewData["Title"] = "Home Page";
}
<div></div>
<div class="text-center">
    <h1 class="display-4">Welcome to HomeToGo</h1>
    <h2 class="display-6">Featured Rentals</h2>
</div>

<partial name="slides" />
